.home {
    width: 100%;
    height: 100%;
}

.home__header {
    width: 100%;
    height: 5rem;
}

.home__header__menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__header__menu__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e6ade;
}

.home__header__menu__list {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home__header__menu__list li{
    font-size: 1.1rem;
}

.home__container {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    align-items: center;
}

.home__container-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__container-content__title {
    line-height: 4.5rem;    
    overflow-wrap: break-word;
    font-size: 3.8rem;
    font-weight: bold;
}

.home__container-content__description {
    width: 90%;
    line-height: 1.8rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #bebebe;
}

.home__container-illustration {
    width: 50%;
    height: 100%;
    position: relative;
}

.home__container-illustration__image {
    width: 55rem;
    position: absolute;
    bottom: 0;
    right: -9rem;
}