.home {
    width: 100%;
    height: 100%;
}

.home__header {
    width: 100%;
    height: 5rem;
}

.home__header__menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home__header__menu__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e6ade;
}

.home__header__menu__list {
    width: 40rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home__header__menu__list li{
    font-size: 1.1rem;
}